$font-stack: PT Sans Narrow, sans-serif;
$primary-color: #ffffff;
$primary-bg: #242424;
$align: center;


body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $primary-bg;
  text-align: $align;
  padding-top: 0;
  }



