body {
  font: 100% PT Sans Narrow, sans-serif;
  color: #ffffff;
  background-color: #242424;
  text-align: center;
  padding-top: 50px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}